In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../dataset/data.csv')
df.head()

                                 fname  ammonia  chlorophyll  quality
0      2021 01 18_T_3_Rep6_NoBag_1.tif     6.98        70.44        3
1  2021 02 26 S__S_3_Rep_7_NoBag_3.tif     0.93        71.82        3
2      2019_12_12_3_Treat7_NoBag_1.tif    16.98        46.94        3
3  2021 03 16 S__T_1_Rep_2_NoBag_1.tif   159.55        41.11        1
4  2021 03 02 T__T_4_Rep_C_NoBag_3.tif     1.15        71.96        4

In [3]:
n_bins = 4

In [4]:
chlorophyll_bins = pd.cut(df['chlorophyll'], bins=n_bins)
ammonia_bins = pd.cut(df['ammonia'], bins=n_bins)

In [5]:
ammonia_bins

0         (-0.064, 71.227]
1         (-0.064, 71.227]
2         (-0.064, 71.227]
3       (142.235, 213.242]
4         (-0.064, 71.227]
               ...
1186      (-0.064, 71.227]
1187     (71.227, 142.235]
1188      (-0.064, 71.227]
1189      (-0.064, 71.227]
1190      (-0.064, 71.227]
Name: ammonia, Length: 1191, dtype: category
Categories (4, interval[float64, right]): [(-0.064, 71.227] < (71.227, 142.235] < (142.235, 213.242] < (213.242, 284.25]]

In [6]:
df['ammonia_bins'] = pd.Series(ammonia_bins.cat.codes, dtype='int')
df['chlorophyll_bins'] = pd.Series(chlorophyll_bins.cat.codes, dtype='int')
df.head()

,fname,ammonia,chlorophyll,quality,ammonia_bins,chlorophyll_bins
0,2021 01 18_T_3_Rep6_NoBag_1.tif,6.98,70.44,3,0,2
1,2021 02 26 S__S_3_Rep_7_NoBag_3.tif,0.93,71.82,3,0,2
2,2019_12_12_3_Treat7_NoBag_1.tif,16.98,46.94,3,0,1
3,2021 03 16 S__T_1_Rep_2_NoBag_1.tif,159.55,41.11,1,2,0
4,2021 03 02 T__T_4_Rep_C_NoBag_3.tif,1.15,71.96,4,0,2

In [17]:
def negative_bins(n_bins, target_bin):
    negative_range = []
    
    for i in range(n_bins):
        if i != target_bin and abs(i - target_bin) > 1:
            negative_range.append(i)
    
    return negative_range

neg_bins = [None] * n_bins

n_bins = 4
for bin in range(n_bins):
    neg_bins[bin] = negative_bins(n_bins, bin)
    print(f"Bin {bin} has negative range: {negative_bins(n_bins, bin)}")

Bin 0 has negative range: [2, 3]
Bin 1 has negative range: [3]
Bin 2 has negative range: [0]
Bin 3 has negative range: [0, 1]

In [18]:
neg_bins

[[2, 3], [3], [0], [0, 1]]

In [8]:
df[df['ammonia_bins'].isin([2, 3])].sample(1)

,fname,ammonia,chlorophyll,quality,ammonia_bins,chlorophyll_bins
651,2021 01 25_T_1_Rep6_NoBag_2.tif,215.77,38.97,1,3,0

In [9]:
idx = 1

df[df['ammonia_bins'].isin([0])].drop(idx).sample(1)['fname'].iloc[0]

'2021 02 09_S_5_Rep4_NoBag_3.tif'