In [19]:
import pandas as pd

In [20]:
df1 = pd.read_csv('../../dataset/train_1.csv')
df1.head()

                                 fname  ammonia  chlorophyll  quality
0      2021 01 18_T_3_Rep6_NoBag_1.tif     6.98        70.44        3
1  2021 02 26 S__S_3_Rep_7_NoBag_3.tif     0.93        71.82        3
2      2019_12_12_3_Treat7_NoBag_1.tif    16.98        46.94        3
3  2021 03 16 S__T_1_Rep_2_NoBag_1.tif   159.55        41.11        1
4  2021 03 02 T__T_4_Rep_C_NoBag_3.tif     1.15        71.96        4

In [21]:
df2 = pd.read_csv('../../dataset/test_1.csv')
df2.head()

                             fname  ammonia  chlorophyll  quality
0  2019_12_09_4_Treat1_NoBag_1.tif    18.00        45.78        4
1  2019_12_09_4_Treat7_NoBag_6.tif    11.88        47.98        4
2  2019_12_09_4_TreatA_NoBag_3.tif    12.46        44.78        4
3  2019_12_12_3_Treat4_NoBag_3.tif    20.77        52.57        3
4  2019_12_17_2_Treat1_NoBag_5.tif    81.20        41.62        2

In [22]:
df3 = pd.read_csv('../../dataset/val_1.csv')
df3.head()

                                 fname  ammonia  chlorophyll  quality
0      2020_02_20_3_Treat1_NoBag_4.tif     2.40        59.68        3
1      2021 01 13_T_4_RepA_NoBag_3.tif     6.01        69.42        4
2  2021 02 19 S__S_3_Rep_1_NoBag_2.tif     2.62        63.40        3
3  2021 03 16 S__T_1_Rep_A_NoBag_1.tif   202.82        43.53        1
4  2021 04 01 S__T_5_Rep_A_NoBag_2.tif     8.03        79.96        5

In [23]:
df = pd.concat([df1, df2, df3])
df.head()

                                 fname  ammonia  chlorophyll  quality
0      2021 01 18_T_3_Rep6_NoBag_1.tif     6.98        70.44        3
1  2021 02 26 S__S_3_Rep_7_NoBag_3.tif     0.93        71.82        3
2      2019_12_12_3_Treat7_NoBag_1.tif    16.98        46.94        3
3  2021 03 16 S__T_1_Rep_2_NoBag_1.tif   159.55        41.11        1
4  2021 03 02 T__T_4_Rep_C_NoBag_3.tif     1.15        71.96        4

In [24]:
df.to_csv('../../dataset/all.csv', index=None)